{% assign supporters = site.supporters %}
<div class="counters">
  <div class="counter aspect-ratio-box">
    <div class="counter__content">
      <div class="counter__header"></div>
      <div class="counter__number">{{ supporters | where: "category", "state" | size }}</div>
      <footer class="counter__footer"><strong>{{ site.data.translations.home.states[page.lang] }}</strong></footer>
    </div>
  </div>
  <div class="counter aspect-ratio-box">
    <div class="counter__content">
      <div class="counter__header"></div>
      <div class="counter__number">{{ supporters | where: "category", "civil-society" | size }}</div>
      <footer class="counter__footer">
        <strong>{{ site.data.translations.home.organizations[page.lang] }}</strong>{{ site.data.translations.home.and-members-of-civil-society[page.lang] }}
      </footer>
    </div>
  </div>
  <div class="counter aspect-ratio-box">
    <div class="counter__content">
      <div class="counter__header"></div>
      <div class="counter__number">{{ supporters | where: "category", "private-sector" | size }}</div>
      <footer class="counter__footer">
        <strong>{{ site.data.translations.home.companies[page.lang] }}</strong>{{ site.data.translations.home.and-private-sector-entities[page.lang] }}
      </footer>
    </div>
  </div>
</div>
