<nav class="main-navbar navbar" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar-menu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbar-menu" class="navbar-menu is-size-5">
      <div class="navbar-start">
        <a class="navbar-item" href="{{ site.baseurl }}/">Accueil</a>
        <a class="navbar-item" href="{{ site.baseurl }}/principles">L'appel et les 9 principes</a>
      </div>

      <div class="navbar-center is-hidden-touch">
        <a href="{{ site.baseurl }}/">
          <img class="logo" alt="Appel de Paris" src="{{site.baseurl}}/assets/images/logo-circle.jpg" />
        </a>
      </div>

      <div class="navbar-end">
        <a class="navbar-item" href="{{ site.baseurl }}/supporters">Les soutiens</a>
        <a class="navbar-item button is-primary is-rounded is-medium" href="{{ site.baseurl }}/support">Soutenir l'appel</a>
      </div>
    </div>
  </div>
</nav>
