.main-navbar {
  padding-top: 1em;

  .navbar-menu { align-items: center; }

  @include desktop {
    .navbar-start,
    .navbar-end {
      min-width: 30%;
      display: flex;
      justify-content: space-between;
    }
  }

  .navbar-center {
    a {
      display: flex;
      align-items: center;
    }
  }

  .navbar-item {
    font-variant: all-small-caps;
    font-weight: 500;

    &:not(.button) { color: $primary; }
  }

  .logo {
    width: 150px;
  }
}
