.counters {
  display: flex;
  justify-content: space-around;
  margin: 1em 0;

  @include until($tablet) {
    flex-direction: column;
    align-items: center;
  }
}

.counter {
  background: #fff;
  box-shadow: inset 0 0 0 1px $purple-100, inset 0 0 0 7px #FFF, inset 0 0 0 8px $purple-100;
  padding: 12px;
  width: 24%;
  max-width: 15em;

  @include until($tablet) {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
  }

  &__header {
    flex: 1;
  }

  &__footer {
    flex: 3;
    color: $purple-500;
    padding: 0 1em;
    line-height: 1;
    font-size: 1.1em;

    strong {
      color: inherit;
      font-size: 1.05em;
      display: block;
    }

    @include tablet-only {
      font-size: 0.8em;
    }

    @include desktop-only {
      font-size: 0.95em;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    text-align: center;
    font-variant: all-small-caps;
  }

  &__number {
    flex: 3;
    font-size: 6em;
    line-height: 1;
    font-variant: normal;
    font-weight: 600;
    color: $blue-500;
    padding-top: 0.06em;
    background: linear-gradient(45deg, #3e77be 0%, #3e77be 12.5%, #5a91cd 12.5%, #5a91cd 25%, #6da3d7 25%, #6da3d7 37.5%, #99bfe3 37.5%, #99bfe3 50%, #83b1dd 50%, #83b1dd 63%, #99bfe3 63%, #99bfe3 75%, #83b1dd 75%, #83b1dd 100%), linear-gradient(135deg, #7767a6, #271763);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @include tablet-only {
      font-size: 4em;
    }

    @include desktop {
      font-size: 5em;
    }

    @include widescreen {
      font-size: 6em;
    }
  }
}
