@charset "UTF-8";

@font-face {
  font-family: "paris-call-icons";
  src:url($baseurl + "/assets/fonts/paris-call-icons.eot");
  src:url($baseurl + "/assets/fonts/paris-call-icons.eot?#iefix") format("embedded-opentype"),
    url($baseurl + "/assets/fonts/paris-call-icons.woff") format("woff"),
    url($baseurl + "/assets/fonts/paris-call-icons.ttf") format("truetype"),
    url($baseurl + "/assets/fonts/paris-call-icons.svg#paris-call-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "paris-call-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "paris-call-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-map:before {
  content: "\62";
}
.icon-angle-down:before {
  content: "\61";
}
.icon-calendar-plus-o:before {
  content: "\64";
}
.icon-calendar:before {
  content: "\65";
}
.icon-rss:before {
  content: "\63";
}
.icon-arrow-circle-o-down:before {
  content: "\66";
}
.icon-marker:before {
  content: "\67";
}
.icon-pin:before {
  content: "\68";
}
.icon-globe:before {
  content: "\69";
}
