.landing-page {
  .title {
    margin-bottom: 1em;
  }

  .counters {
    display: flex;
    justify-content: space-around;
    margin: 3em 0;
  }

  .counter {
    background: $white-blue;
    border: 1px solid $purple-100;
    width: 30%;
    max-width: 300px;

    &__header,
    &__footer {
      font-size: 1.6em;
      color: $purple-500;
      font-weight: 500;
      padding: 0 0.5em;
      line-height: 1;
      flex: 1;
    }

    &__header {
      display: flex;
      align-items: flex-end;
      justify-content: center;
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      text-align: center;
      font-variant: all-small-caps;
    }

    &__number {
      flex: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 8em;
      line-height: 1;
      font-variant: normal;
      font-weight: 600;
      color: $blue-500;
      padding-top: 0.06em;
    }
  }

  .details {
    background: $secondary;
    color: #fff;
  }

  .hero-foot {
    .button {
      text-transform: uppercase;
      transform: translateY(50%);
    }
  }
}


.aspect-ratio-box {
  &::before { /* To keep aspect ratio 1:1 see https://css-tricks.com/aspect-ratio-boxes/ */
    content: "";
    width: 1px;
    margin-left: -1px;
    float: left;
    height: 0;
    padding-top: 100%;
  }
  &::after { /* to clear float */
    content: "";
    display: table;
    clear: both;
  }
}
