.landing-page {
  .hero-body {
    margin-bottom: 5em;

    .title {
      max-width: 960px;
      position: relative;
      margin: 1em auto 0.75em auto;
    }

    .subtitle {
      max-width: 960px;
      margin: auto;
      color: $purple-500;
    }
  }

  .counters {
    display: flex;
    justify-content: space-around;
    margin: 3em 0;
  }

  .counter {
    background: #fff;
    box-shadow: 0 0 0 1px $purple-100, 0 0 0 10px #FFF, 0 0 0 11px $purple-100;
    width: 30%;
    max-width: 300px;

    &__header { flex: 1; }

    &__footer {
      flex: 2;
      color: $purple-500;
      padding: 0 1em;
      line-height: 1;

      strong {
        color: inherit;
        font-size: 1.6em;
        display: block;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      text-align: center;
      font-variant: all-small-caps;
    }

    &__number {
      flex: 3;
      font-size: 6em;
      line-height: 1;
      font-variant: normal;
      font-weight: 600;
      color: $blue-500;
      padding-top: 0.06em;
      background: linear-gradient(45deg, #3e77be 0%, #3e77be 12.5%, #5a91cd 12.5%,  #5a91cd 25%,#6da3d7 25%, #6da3d7 37.5%,#99bfe3 37.5%, #99bfe3 50%,#659bd3 50%, #659bd3 50.5%,#99bfe3 50.5%, #99bfe3 53%,#659bd3 53%, #659bd3 53.5%,#99bfe3 53.5%, #99bfe3 75%,#83b1dd 75%, #83b1dd 100%),linear-gradient(135deg, #7767a6,#271763);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .button-in-text { padding-top: 2em; }

  .event {
    .location {
      display: flex;
      align-items: center;

      &__icon {
        font-size: 1.8em;
        color: $purple-400;
        margin-right: 0.1em;
        height: 2.5rem;
        width: 2.5rem;
      }

      &__text {
        font-size: 0.85em;
        line-height: 1.2;
      }
    }
  }

  .new-supporter {
    .tags {
      justify-content: center;
    }

    .tag {
      &.is-state,
      &.is-civil-society,
      &.is-private-sector { font-weight: 600; }

      &.is-state { background: $state-color; }
      &.is-civil-society { background: $civil-society-color; }
      &.is-private-sector { background: $private-sector-color; }
    }
  }
}
