.home-page {
  .hero-body {
    margin-bottom: 5em;

    .title {
      max-width: 960px;
      position: relative;
      margin: 1em auto 0.75em auto;
    }

    .subtitle {
      max-width: 960px;
      margin: auto;
      color: $purple-500;
    }

    .logo {
      max-height: 2em;
    }
  }

  .button-in-text { padding-top: 2em; }

  .counters {
    @include tablet {
      margin: 3em 0;
    }
  }

  .media-header {
    margin-bottom: 1em;

    .title { font-weight: bold; }
  }

  .new-supporter {
    .title {
      text-transform: capitalize;
    }

    .tags {
      margin-bottom: 0;
    }
  }
}
