.home-page {
  .hero-body {
    margin-bottom: 5em;

    .title {
      max-width: 960px;
      position: relative;
      margin: 1em auto 0.75em auto;
    }

    .subtitle {
      max-width: 960px;
      margin: auto;
      color: $purple-500;
    }

    .logo {
      max-height: 2em;
    }
  }

  .counters {
    display: flex;
    justify-content: space-around;
    margin: 3em 0;
  }

  .counter {
    background: #fff;
    box-shadow: 0 0 0 1px $purple-100, 0 0 0 10px #FFF, 0 0 0 11px $purple-100;
    width: 30%;
    max-width: 15em;

    &__header { flex: 1; }

    &__footer {
      flex: 2;
      color: $purple-500;
      padding: 0 1em;
      line-height: 1;

      strong {
        color: inherit;
        font-size: 1.6em;
        display: block;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      text-align: center;
      font-variant: all-small-caps;
    }

    &__number {
      flex: 3;
      font-size: 6em;
      line-height: 1;
      font-variant: normal;
      font-weight: 600;
      color: $blue-500;
      padding-top: 0.06em;
      background: linear-gradient(45deg, #3e77be 0%, #3e77be 12.5%, #5a91cd 12.5%,  #5a91cd 25%,#6da3d7 25%, #6da3d7 37.5%,#99bfe3 37.5%, #99bfe3 50%,#659bd3 50%, #659bd3 50.5%,#99bfe3 50.5%, #99bfe3 53%,#659bd3 53%, #659bd3 53.5%,#99bfe3 53.5%, #99bfe3 75%,#83b1dd 75%, #83b1dd 100%),linear-gradient(135deg, #7767a6,#271763);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .button-in-text { padding-top: 2em; }

  .media-header {
    margin-bottom: 1em;

    .title { font-weight: bold; }
  }

  .date {
    flex-direction: row;
    display: flex;
    min-height: 2.5rem;
    flex: 1 1 2rem;

    &__day {
      flex: 0;
      text-transform: capitalize;
      font-size: 2rem;
      line-height: 2.5rem;
      margin-right: .5rem;
      color: $purple-400;
      font-weight: 400;
      white-space: nowrap;
    }

    &__date {
      font-size: .85rem;
      line-height: .85rem;
      justify-content: center;
      display: flex;
      flex-direction: column;
      font-weight: 400;
    }

    &__month {
      color: #4a4a4a;
      text-transform: capitalize;
      font-size: .85rem;
      line-height: 1.2;
      justify-content: center;
      display: flex;
      flex-direction: column;
      font-weight: 400;
    }

    &__weekday {
      font-size: .75em;
      color: $blue-700;
      text-transform: capitalize;
      text-align: left;
    }
  }

  .new-supporter {
    .title {
      text-transform: capitalize;
    }

    .tags {
      margin-bottom: 0;
    }
  }
}
