.principles-page {
  .principle {
    margin-top: 0.5em;
  }

  .index {
    color: darken($blue-900, 15%);
    position: absolute;
    left: 1.5rem;
    bottom: 0;
    transform: translateY(95%);

    &__prefix {
      font-size: 2em;
      font-weight: 400;
      font-variant: all-small-caps;
      vertical-align: middle;
    }
    &__number {
      font-weight: 700;
      font-size: 10em;
      vertical-align: middle;
    }
  }

  .index-mobile {
    font-variant: all-small-caps;
    color: darken($blue-900, 15%);
  }
}
