.supporters-page {
  .box {
    margin-bottom: 1em;

    .field.has-addons {
      @include touch {
        flex-direction: column;
        align-items: stretch;
        flex-direction: column;

        .control {
          margin-right: 0;

          &:not(:last-child) {
            margin-bottom: -1px;
          }

          &:first-child > * {
            border-top-right-radius: 3px;
            border-bottom-left-radius: 0;
          }
          &:last-child > * {
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;
            border-top-right-radius: 0;
          }
        }
      }
    }

    a:not(.button):before {
      background-color: $blue-200;
    }
  }



  .cards { flex-wrap: wrap; }

  .card {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 2px;
  }

  .card-footer {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;

    &.private-sector { background: $private-sector-color; }
    &.civil-society { background: $civil-society-color; }
    &.state { background: $state-color; }
    &.public-authority { background: $public-authority-color; }
  }

  .card-footer-item {
    padding: 0.5em 0.75rem;
    font-weight: 500;
    font-size: 0.85em;
  }
}
