<section class="header hero is-medium {{include.headerClass}}">
  <div class="hero-head">
    {% include header.html %}
  </div>
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-1 is-underline">
        <img class="logo" alt="{{ site.data.translations.global.paris-call[page.lang] }}"
          src="{{site.baseurl}}/assets/images/logo-title-{{ page.lang }}.png" />
      </h1>
      <h2 class="subtitle is-2">
        {{ site.data.translations.home.subtitle[page.lang] }}
      </h2>
    </div>
  </div>
</section>
<section class="section is-medium bg-blue-500">
  <div class="container content is-size-5">
    <h2 class="title is-2"></h2>
    <div class="columns">
      <div class="column">
        {% capture cyberspace_text %}{% include pages/texts/{{ page.lang }}/home/cyberspace.md %}{% endcapture %}
        {{ cyberspace_text | markdownify }}
      </div>
      <div class="column is-1"></div>
      <div class="column is-5">
        <div class="duotone is-full-height">
          <img alt="" src="{{site.baseurl}}/assets/images/devices.jpg" />
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section is-medium">
  <div class="container content is-size-5">
    <div class="columns">
      <div class="column is-5">
        <div class="duotone is-full-height">
          <img alt="" src="{{site.baseurl}}/assets/images/united.jpg" />
        </div>
      </div>
      <div class="column is-1"></div>
      <div class="column">
        {% capture intention_text %}{% include pages/texts/{{ page.lang }}/home/intention.md %}{% endcapture %}
        {{ intention_text | markdownify }}
        <p class="button-in-text has-text-centered">
          <a href="{{ '/principles' | prepend: page.lang | relative_url }}"
            class="button is-primary is-rounded is-medium">{{ site.data.translations.home.principles-button[page.lang] }}</a>
        </p>
      </div>
    </div>
  </div>
</section>
<section class="section is-medium bg-blue-50">
  <div class="container content is-size-5">
    <h3 class="title is-3 has-text-centered">{{ site.data.translations.home.counter-section-title[page.lang] }}</h3>
    {% include counters.html %}
    <p class="has-text-centered">
      <a href="{{ '/supporters' | prepend: page.lang | relative_url }}"
         class="button is-primary is-rounded is-large">
        {{ site.data.translations.global.see-supporters[page.lang] }}
      </a>
    </p>
  </div>
</section>

{% include support-cta.html bg-color="bg-blue-300" %}

<section class="section is-medium">
  <div class="container">
    <h2 class="title is-2 has-text-centered">{{ site.data.translations.home.news-title[page.lang] }}</h2>
    <div class="columns">
      <div class="column is-7">
        <div class="level">
          <div class="level-left">
            <div class="level-item">
              <h3 class="title is-4" id="events">
                {{ site.data.translations.home.events-title[page.lang] }}
              </h3>
            </div>
            <div class="level-item">
              {% assign calendarUrl = 'calendar.ics' | absolute_url %}
              {% assign calendarWebcalUrl = calendarUrl | replace: 'https://', 'webcal://' | replace: 'http://', 'webcal://' %}
              <div class="dropdown is-hoverable">
                <div class="dropdown-trigger">
                  <button class="button is-link is-light is-small is-rounded" aria-haspopup="true" aria-controls="calendar-dropdown-menu">
                    <span class="icon is-small">
                      <i class="icon icon-calendar" aria-hidden="true"></i>
                    </span>
                    <span>{{ site.data.translations.events.calendar-dropdown[page.lang] }}</span>
                    <span class="icon is-small">
                      <i class="icon icon-angle-down" aria-hidden="true"></i>
                    </span>
                  </button>
                </div>
                <div class="dropdown-menu" id="calendar-dropdown-menu" role="menu">
                  <div class="dropdown-content">
                    <a href="{{ calendarUrl }}" class="dropdown-item">
                      <span class="icon is-small"><i class="icon icon-arrow-circle-o-down" aria-hidden="true"></i></span>
                      <span>{{ site.data.translations.events.download-calendar-dropdown-item[page.lang] }}</span>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="{{ calendarWebcalUrl }}" class="dropdown-item">
                      <span class="icon is-small"><i class="icon icon-rss" aria-hidden="true"></i></span>
                      <span>{{ site.data.translations.events.subscribe-to-calendar-dropdown-item[page.lang] }}</span>
                    </a>
                    <div class="dropdown-item is-size-7">
                      <p>{{ site.data.translations.events.subscribe-alternative-dropdown-item[page.lang] }}</p>
                      <p><strong>{{ calendarWebcalUrl }}</strong></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% assign events = site.events | sort: 'start_date' %}
        {% for event in events %}
        {% include event.html event=event %}
        {% endfor %}
        <hr />
        <p class="has-text-centered">
          <a class="typeform-share button is-primary is-rounded" href="{{ site.typeform_urls.event[page.lang] }}"
            data-mode="drawer_right" data-hide-headers=true data-hide-footer=true data-submit-close-delay="1"
            target="_blank" id="suggestEvent">
            {{ site.data.translations.home.suggest-event[page.lang] }}
          </a>
          <script>
            (function () {
              var qs, js, q, s, d = document,
                gi = d.getElementById,
                ce = d.createElement,
                gt = d.getElementsByTagName,
                id = "typef_orm_share",
                b = "https://embed.typeform.com/";
              if (!gi.call(d, id)) {
                js = ce.call(d, "script");
                js.id = id;
                js.src = b + "embed.js";
                q = gt.call(d, "script")[0];
                q.parentNode.insertBefore(js, q)
              }
            })()

          </script>
        </p>
      </div>
      <div class="column is-1"></div>
      <div class="column is-4">
        <h3 class="title is-4">
          {{ site.data.translations.home.last-supporters-title[page.lang] }}
        </h3>
        {% assign count = 0 %}
        {% assign supporter_lang = 'supporters' | append: '_' | append: page.lang %}
        {% assign supporters_sorted = (site[supporter_lang] | sort: 'date_signed') | reverse %}
        {% for supporter in supporters_sorted %}
        {% assign supporter_date = supporter.date_signed | date: '%s' %}
        {% if count < 5 %}
        {% assign count = count | plus: 1 %}
        <article class="media new-supporter">
          <div class="media-content">
            <header class="media-header">
              <h4 class="title is-6">{{ supporter.name }}</h4>
            </header>
            <div class="content">
              <div class="tags has-addons is-size-7">
                <span class="tag">
                  {{ site.data.translations.home.joined[page.lang] }}&nbsp;{{ supporter.date_signed | date: "%d/%m/%Y" }}
                </span>
                <span class="tag is-{{ supporter.category | replace: '_', '-' }}">
                  {% if supporter.nature %}
                  {{ supporter.nature }}
                  {% else %}
                  {{ supporter.category | replace: 'state', site.data.translations.home.state[page.lang] | replace: 'private_sector', site.data.translations.home.company[page.lang] | replace: 'civil_society', site.data.translations.home.organization[page.lang] }}
                  {% endif %}
                </span>
              </div>
            </div>
          </div>
        </article>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>
