<section class="header hero is-medium {{include.headerClass}}">
  <div class="hero-head">
    {% include header.html %}
  </div>
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 aria-label="{{ site.data.translations.global.paris-call[page.lang] }}" class="title is-1 is-underline is-hidden-touch">
        <img class="logo" alt="{{ site.data.translations.global.paris-call[page.lang] }}"
          src="{{site.baseurl}}/assets/images/logo-title-{{ page.lang }}.png" />
      </h1>
      <h1 aria-label="{{ site.data.translations.global.paris-call[page.lang] }}" class="title is-hidden-desktop">
        <img class="logo" alt="{{ site.data.translations.global.paris-call[page.lang] }}"
          src="{{site.baseurl}}/assets/images/logo-circle-{{ page.lang }}.png" />
      </h1>
      <h2 class="subtitle is-size-2-desktop is-size-3-touch">
        {{ site.data.translations.home.subtitle[page.lang] }}
      </h2>
    </div>
    <div class="container" style="margin-top: 3rem;">
      <article class="message is-info is-medium">
        <div class="message-body">
          {% include pages/texts/{{ page.lang }}/home/usa-eu-joigned.html %}
        </div>
      </article>
    </div>
    <div class="container" style="margin-top: 1.5rem;">
      <article class="message is-info is-medium">
        <div class="message-body">
          {% include pages/texts/{{ page.lang }}/home/working_groups.html %}
        </div>
      </article>
    </div>
  </div>
</section>

<section class="section is-medium bg-blue-500">
  <div class="container content is-size-5">
    <h2 class="title is-2"></h2>
    <div class="columns">
      <div class="column">
        {% capture cyberspace_text %}{% include pages/texts/{{ page.lang }}/home/cyberspace.md %}{% endcapture %}
        {{ cyberspace_text | markdownify }}
      </div>
      <div class="column is-5 is-hidden-touch">
        <div class="duotone is-full-height">
          <img alt="" src="{{site.baseurl}}/assets/images/devices.jpg" />
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section is-medium principles-section">
  <div class="container content is-size-5">
    <div class="columns">
      <div class="column is-5 is-hidden-touch">
        <div class="duotone is-full-height">
          <img alt="" src="{{site.baseurl}}/assets/images/united.jpg" />
        </div>
      </div>
      <div class="column">
        {% capture intention_text %}{% include pages/texts/{{ page.lang }}/home/intention.md %}{% endcapture %}
        {{ intention_text | markdownify }}
        <p class="button-in-text has-text-centered">
          <a href="{{ '/principles' | prepend: page.lang | relative_url }}"
            class="button is-primary is-rounded is-medium">{{ site.data.translations.home.principles-button[page.lang] }}</a>
        </p>
      </div>
    </div>
  </div>
</section>
<section class="section is-medium bg-blue-50">
  <div class="container content is-size-5">
    {% include counters.html %}
  </div>
</section>
{% include support-cta.html %}