<div class="page-title">
  <h1>{{ site.data.translations.supporters.title[page.lang] }}</h1>
</div>

{% include support-cta.html bg-color="bg-blue-50" spacing="is-small" %}

<section class="section is-medium bg-blue-500">
  <div class="container">
    <div class="box">
      <div class="field has-addons">
        <div class="control is-expanded">
          <input id="name-filter" class="input is-medium" type="text"
            placeholder="{{ site.data.translations.supporters.filter-placeholder[page.lang] }}" spellcheck="false">
        </div>
        <div class="control">
          <a class="button is-primary is-medium">
            {{ site.data.translations.supporters.filter-button[page.lang] }}
          </a>
        </div>
      </div>
    </div>
    <div class="cards columns">
      {% for category in site.supporter_categories %}
      {% assign supporterLang = 'supporters' | append: '_' | append: page.lang %}
      {% assign supporters_by_category = site[supporterLang] | where: "category", category %}
      {% for supporter in supporters_by_category %}
      <div class="column is-4" data-supporter-name="{{ supporter.name | escape }}">
        <div class="card">
          <div class="card-content">
            <p class="title">
              <a href="{{ supporter.url | relative_url }}">{{ supporter.name | escape }}</a>
            </p>
            <p class="subtitle">
              {{ supporter.nature }}
            </p>
          </div>
          <footer class="card-footer {{ supporter.category }}">
            <p class="card-footer-item">
              <span>
                {{ site.data.translations.supporters[supporter.category][page.lang] }}
                {%- if supporter.nationality -%}&nbsp;({{ supporter.nationality }}){%- endif -%}
              </span>
            </p>
          </footer>
        </div>
      </div>
      {% endfor %}
      {% endfor %}
    </div>
  </div>
</section>
{% include support-cta.html %}
<script>
  document.addEventListener('DOMContentLoaded', function () {
    let filterInput = document.querySelector('#name-filter');
    filterInput.onkeyup = changeEventHandler;
    filterInput.addEventListener("search", changeEventHandler);
  }, false);

  function changeEventHandler(event) {
    let filterValue = event.target.value;

    document.querySelectorAll('[data-supporter-name]').forEach(function (element) {
      if (!filterValue) {
        showElement(element);
        return;
      }

      let elementValue = element.attributes["data-supporter-name"].value;
      let lowercasedFilterValue = filterValue.toLowerCase();
      if (!elementValue.toLowerCase().includes(lowercasedFilterValue)) {
        hideElement(element);
      } else {
        showElement(element);
      }
    });
  }

  function hideElement(element) {
    element.style.display = "none";
  }

  function showElement(element) {
    element.style.display = "flex";
  }

</script>
