<div class="container">
  <div class="page-title">
      <h1>{{ site.data.translations.support.title[page.lang] }}</h1>
      <h2>{{ site.data.translations.support.subtitle[page.lang] }}</h2>
  </div>
</div>
<section class="section is-small bg-blue-100">
  <div class="container content is-size-5">
    <div class="typeform-widget" data-url="https://nicolasdupont.typeform.com/to/Y5eTGr" data-transparency="100"
      data-hide-headers=true data-hide-footer=true style="width: 100%; height: 500px;">
      <div class="spinner-wrapper">
        <div class="spinner"></div>
      </div>
    </div>
    <script>
      (function () {
        var qs, js, q, s, d = document,
          gi = d.getElementById,
          ce = d.createElement,
          gt = d.getElementsByTagName,
          id = "typef_orm",
          b = "https://embed.typeform.com/";
        if (!gi.call(d, id)) {
          js = ce.call(d, "script");
          js.id = id;
          js.src = b + "embed.js";
          q = gt.call(d, "script")[0];
          q.parentNode.insertBefore(js, q)
        }
      })()

    </script>
  </div>
</section>

<section class="section call is-medium">
  <div class="container content is-size-5">
    <p class="has-text-centered">
      <a href="{{ '/supporters' | prepend: page.lang | relative_url }}" class="button is-primary is-rounded is-large">{{ site.data.translations.global.see-supporters[page.lang] }}</a>
    </p>
  </div>
</section>
