---
# this ensures Jekyll reads the file to be transformed into CSS later
# only Main files contain this front matter, not partials.
---

$baseurl: "{{ site.baseurl }}";

$black: hsl(0, 0%, 4%);
$black-bis: hsl(0, 0%, 7%);
$black-ter: hsl(0, 0%, 14%);
$grey-darker: hsl(0, 0%, 21%);
$grey-dark: hsl(0, 0%, 29%);
$grey: hsl(0, 0%, 48%);
$grey-light: hsl(0, 0%, 71%);
$grey-lighter: hsl(0, 0%, 86%);
$white-ter: hsl(0, 0%, 96%);
$white-bis: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

$purple-50: #f2effa;
$purple-100: #c5bed9;
$purple-200: #9e93c0;
$purple-300: #7767a6;
$purple-400: #594793;
$purple-500: #3c2680;
$purple-600: #362278;
$purple-700: #2e1c6d;
$purple-800: #271763;
$purple-900: #1a0d50;

$blue-50: #edf4fa;
$blue-100: #d3e3f3;
$blue-200: #b6d1eb;
$blue-300: #99bfe3;
$blue-400: #83b1dd;
$blue-500: #6da3d7;
$blue-600: #659bd3;
$blue-700: #5a91cd;
$blue-800: #5088c7;
$blue-900: #3e77be;

// Update Bulma's global variables
$family-sans-serif: "Avenir Next", sans-serif;
$primary: $purple-500;
$secondary: $blue-500;

$link: darken($blue-900, 5%);
$text: $grey-darker;

$dropdown-menu-min-width: 6rem;

$state-color: #DEECFF;
$civil-society-color: #EEC1E9;
$private-sector-color: #FEE4A5;

@charset "utf-8";
/*! bulma.io v0.8.0 | MIT License | github.com/jgthms/bulma */
@import "bulma/utilities/_all";
@import "bulma/base/_all";
@import "bulma/elements/_all";
@import "bulma/form/_all";
@import "bulma/components/_all";
@import "bulma/grid/_all";
@import "bulma/layout/_all";

// Icons
@import "icons-font";

// Utils
@import "utils/mixins";

// Components
@import "components/page-title";
@import "components/spinner";
@import "components/duotone";
@import "components/aspect-ratio-box";
@import "components/bg";

// Partials
@import 'partials/header';
@import 'partials/footer';
@import 'partials/event';
@import 'partials/counters';

// Pages
@import 'pages/home';
@import 'pages/principles';
@import 'pages/supporters';
@import 'pages/supporter';

// Customize Bulma components
.button {
  font-variant: all-small-caps;
  font-weight: 500;
}

.title {
  &.is-underline {
    @include is-underline;
  }
}

@include desktop {
  .section.is-small {
    padding: 6rem 1.5rem;
  }
}

.content {
  a:not(.button) {
    position: relative;
    z-index: 1;
    display: inline-block;

    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 0;
      left: 0em;
      right: 0em;
      background-color: $blue-200;
      transform-origin: bottom center;
      transform: scaleY(0.05);
      transition: all 0.1s ease-in-out;
    }

    &:hover::before {
      transform: scaleY(1);
      left: -0.2em;
      right: -0.2em;
      border-radius: 1px;
    }
  }
}

.tag {
  &.is-state,
  &.is-civil-society,
  &.is-private-sector { font-weight: 600; }

  &.is-state { background: $state-color; }
  &.is-civil-society { background: $civil-society-color; }
  &.is-private-sector { background: $private-sector-color; }
}

iframe { height: 100%; }

.dropdown-item {
  > span {
    vertical-align: middle;
  }
}

.section + .footer {
  margin-top: 5em;
}
