.bg-purple-50,
.bg-purple-100,
.bg-purple-200,
.bg-purple-300,
.bg-purple-400,
.bg-purple-500,
.bg-purple-600,
.bg-purple-700,
.bg-purple-800,
.bg-purple-900,
.bg-blue-50,
.bg-blue-100,
.bg-blue-200,
.bg-blue-300,
.bg-blue-400,
.bg-blue-500,
.bg-blue-600,
.bg-blue-700,
.bg-blue-800,
.bg-blue-900 {
  position: relative;

  &:before {
    position: absolute;
    transform: skewY(-3deg);
    bottom: 0vw;
    right: 0;
    width: 100%;
    height: 100%;
    content: '';
  }
}

.bg-purple-500,
.bg-purple-600,
.bg-purple-700,
.bg-purple-800,
.bg-purple-900,
.bg-blue-500,
.bg-blue-600,
.bg-blue-700,
.bg-blue-800,
.bg-blue-900 {
  color: #FFF;

  h1, h2, h3, h4, h5, strong, a {
    color: inherit;
  }
}

.bg-blue-50,
.bg-blue-100 {
  color: $blue-900;

  h1, h2, h3, h4, h5, strong, a {
    color: inherit;
  }
}

.bg-blue-200,
.bg-blue-300 {
  color: $purple-900;

  h1, h2, h3, h4, h5, strong, a {
    color: inherit;
  }
}

.bg-blue-200,
.bg-blue-300 {
  .content a:not(.button)::before { background-color: $blue-500; }
}

.bg-blue-400,
.bg-blue-500,
.bg-blue-600 {
  .content a:not(.button)::before { background-color: $blue-900; }
}

.bg-blue-50:before { background: linear-gradient(138deg, $blue-50 75%, $blue-100) $blue-50; }
.bg-blue-100:before { background: linear-gradient(138deg, $blue-100 75%, $blue-200) $blue-100; }
.bg-blue-200:before { background: linear-gradient(138deg, $blue-200 75%, $blue-300) $blue-200; }
.bg-blue-300:before { background: linear-gradient(138deg, $blue-300 75%, $blue-400) $blue-300; }
.bg-blue-400:before { background: linear-gradient(138deg, $blue-400 75%, $blue-500) $blue-400; }
.bg-blue-500:before { background: linear-gradient(138deg, $blue-500 75%, $blue-600) $blue-500; }
.bg-blue-600:before { background: linear-gradient(138deg, $blue-600 75%, $blue-700) $blue-600; }
.bg-blue-700:before { background: linear-gradient(138deg, $blue-700 75%, $blue-800) $blue-700; }
.bg-blue-800:before { background: linear-gradient(138deg, $blue-800 75%, $blue-900) $blue-800; }
.bg-blue-900:before { background: linear-gradient(138deg, $blue-900 75%, $blue-900) $blue-900; }

.bg-purple-50:before { background: $purple-50; }
.bg-purple-100:before { background: linear-gradient(138deg, $purple-100 75%, $purple-200) $purple-100; }
.bg-purple-200:before { background: linear-gradient(138deg, $purple-200 75%, $purple-300) $purple-200; }
.bg-purple-300:before { background: linear-gradient(138deg, $purple-300 75%, $purple-300) $purple-300; }
.bg-purple-400:before { background: linear-gradient(138deg, $purple-400 75%, $purple-500) $purple-400; }
.bg-purple-500:before { background: linear-gradient(138deg, $purple-500 75%, $purple-600) $purple-500; }
.bg-purple-600:before { background: linear-gradient(138deg, $purple-600 75%, $purple-700) $purple-600; }
.bg-purple-700:before { background: linear-gradient(138deg, $purple-700 75%, $purple-800) $purple-700; }
.bg-purple-800:before { background: linear-gradient(138deg, $purple-800 75%, $purple-900) $purple-800; }
.bg-purple-900:before { background: linear-gradient(138deg, $purple-900 75%, $purple-900) $purple-900; }

.bg-purple-200,
.bg-purple-300,
.bg-purple-400 {
  color: #fff;

  h1, h2, h3, h4, h5, strong, a {
    color: inherit;
  }
}
