.page-title {
  text-align: center;
  margin: 5em auto 10em;
  max-width: 80%;

  h1 {
    text-align: center;
    font-weight: 400;
    font-size: $size-1;
    margin-bottom: 0.75em;
    color: $primary;

    @include is-underline;
  }

  h2 {
    font-size: $size-3;
  }
}
