<!DOCTYPE html>
<html lang="{{ page.lang }}">
<head>
  {% assign page_name = page.name | replace: '.html','' | replace: '.md','' %}
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title | escape }} — {% else %}{{ site.data.translations[page_name].title[page.lang] | escape }} — {% endif %} {{ site.data.translations.global.paris-call[page.lang] | escape }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" href="{{ site.baseurl }}/assets/images/favicon.png">
  <link href="{{ site.baseurl }}/assets/css/style.css" rel="stylesheet">
</head>
<body class="page {{ page.name | replace: '.md','' | replace: '.html','' }}-page {{ page.layout }}-page">

  {{ content }}

  {% include footer.html %}

  <script type="text/javascript" src="{{ site.baseurl }}/assets/js/scripts.js"></script>
</body>
</html>
