---
layout: page
---
<div class="page-title">
  <h1>{{ page.name | escape }}</h1>
</div>
<section class="section is-small bg-purple-500">
  <div class="container content is-size-5">
    <p class="details">
      {{ page.nature }} {{ page.name | escape }} {{ site.data.translations.supporter.support-since[page.lang] }} {{ page.date_signed }}.
    </p>
    <p class="back has-text-centered">
      <a href="{{ '/supporters' | prepend: page.lang | relative_url }}" class="button is-primary is-rounded is-outlined is-inverted">
        {{ site.data.translations.supporter.see-others-button[page.lang] }}
      </a>
    </p>
  </div>
</section>

{% include support-cta.html %}
