---
layout: default
---

<div class="section-title">
  <h1 class="title is-1">{{ page.name }}</h1>
</div>
<section class="section bg-secondary">
  <div class="container content">
    <p class="details">
      La {{ page.nature }} {{ page.name }} soutient l’Appel de Paris pour la confiance et la sécurité dans le
      cyberespace depuis le {{ page.date_signed }}.
    </p>
    <p class="call-to-action">
      <span>Tous les États, entreprises et associations peuvent s’engager.</span><br/>
      <span>Vous aussi,</span>
      <a href="{{ site.baseurl }}/support" class="button is-primary is-rounded is-outlined is-inverted">signez l’appel</a>
    </p>

    <p class="back">
      <a href="{{ site.baseurl }}/supporters" class="button is-primary is-rounded is-outlined is-inverted">
        Voir les autres signataires
      </a>
    </p>
  </div>
</section>
