---
layout: default
---

<div class="intro intro-small">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>{{ page.name }}</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  La {{ page.nature }} {{ page.name }} soutient l’Appel de Paris pour la confiance et la sécurité dans le cyberespace depuis le {{ page.date_signed }}.
</div>

<hr/>

<div class="container">
  <h3>Tous les États, entreprises et associations peuvent s’engager.</h3>
  Vous aussi, <a href="{{ site.baseurl }}/support" class="button">signez l’appel</a>

  <h3><a href="{{ site.baseurl }}/">Voir les autres signataires</a></h3>
</div>

